{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="{% static 'expenses/css/style.css' %}">
</head>

<body class="auth-page">

    <div class="form-container">

        <h1 class="form-title">Login</h1>

        <p class="form-subtitle">
            Welcome back! Please login to your account.
        </p>

        <form method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="login-btn">
                Login
            </button>
        </form>

        <p class="forgot-password">
            <a href="{% url 'password_reset' %}">
                Forgot Password?
            </a>
        </p>

        <div class="divider">
            <span>or</span>
        </div>

        <div class="auth-links">
            <p>Don't have an account?</p>

            <a href="{% url 'register' %}" class="register-btn">
                Create Account
            </a>
        </div>

    </div>

    

</body>
</html>