{% load static %}

<!DOCTYPE html>
<html>
<head>

    <title>Password Changed</title>

    <link rel="stylesheet" href="{% static 'expenses/css/style.css' %}">

</head>

<body class="auth-page">

<div class="auth-wrapper">

    <div class="form-container">

        <h1 class="form-title">
            Password Changed
        </h1>

        <p class="form-subtitle">
            Your password has been changed successfully.
        </p>

        <div class="auth-links">

            <a href="{% url 'login' %}" class="login-btn">
                Login
            </a>

        </div>

    </div>

</div>

</body>
</html>