{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>

    <link rel="stylesheet" href="{% static 'expenses/css/style.css' %}">
</head>

<body class="auth-page">

    <div class="form-container">

        <h1 class="form-title">Create Account</h1>

        <p class="form-subtitle">
            Create your account to begin managing your tasks.
        </p>

        <form method="POST" autocomplete="off">

            {% csrf_token %}


        <p>
           {{ form.username.label_tag }}
           {{ form.username }}
           {{ form.username.help_text }}
        </p>

        <p>
           {{ form.country.label_tag }}
           {{ form.country }}
           {{ form.country.help_text }}
        </p>

       <p>
           {{ form.phone_number.label_tag }}
           {{ form.phone_number }}
           {{ form.phone_number.help_text }}
        </p>

        <p>
            {{ form.email.label_tag }}
            {{ form.email }}
            {{ form.email.help_text | safe }}
        </p>

     <p>
        {{ form.password1.label_tag }}

        <div class="password-wrapper">
            {{ form.password1 }}
            <span class="toggle-password"
                  onclick="togglePassword('id_password1', this)">👁</span>
        </div>

        <div class="helptext">
           {{ form.password1.help_text}}
        </div>


    </p>

    <p>
        {{ form.password2.label_tag }}

        <div class="password-wrapper">
            {{ form.password2 }}
            <span class="toggle-password"
                  onclick="togglePassword('id_password2', this)">👁</span>
        </div>

        {{ form.password2.help_text }}
    </p>

    <button type="submit" class="login-btn">
        Register
    </button>

        <div class="divider">
            <span>or</span>
        </div>

        <div class="auth-links">

            <p>Already have an account?</p>

            <a href="{% url 'login' %}" class="register-btn">
                Login
            </a>

        </div>

    </div>

    <script>
document.addEventListener("DOMContentLoaded", function () {

    const country = document.getElementById("country");
    const phone = document.getElementById("phone_number");

    const countryCodes = {
        "NG": "+234",
        "US": "+1",
        "GB": "+44",
        "CA": "+1",
        "GH": "+233",
        "KE": "+254",
        "ZA": "+27",
        "IN": "+91",
        "FR": "+33",
        "DE": "+49",
        "CN": "+86",
        "AU": "+61",
        "NZ": "+64"
    };

    country.addEventListener("change", function () {
        const code = countryCodes[this.value];

        if (code) {
            phone.value = code + " ";
            phone.focus();
        }
    });

});
    </script>
    <script>
function togglePassword(id, icon) {
    const input = document.getElementById(id);

    if (input.type === "password") {
        input.type = "text";
        icon.textContent = "🙈";
    } else {
        input.type = "password";
        icon.textContent = "👁";
    }
}
</script>
</body>
</html>