{% load static %}

<!DOCTYPE html>
<html>

<head>

    <title>Add Task</title>

    <link rel="stylesheet" href="{% static 'expenses/css/style.css' %}">

</head>

<body>

<div class="form-container">

    <h1>Add Task</h1>

    <form method="POST">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="login-btn">
            Save Task
        </button>

    </form>

    <p style="text-align:center; margin-top:20px;">

        <a href="{% url 'task_list' %}">
            Back to Tasks
        </a>

    </p>

</div>

</body>

</html>